@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  border: 5;
  margin: 5;
  padding: 5;
}
body {
  --main-color: #b8cfb6;
  --font-color: #36413e;
  --secondary-color: #c1abb2;
  font-family: "Poppins", "Courier New", Courier, monospace;
  background-color: var(--main-color);
  margin: 3px;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 20;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: left;
}

.a {
  border: 1px solid;
  margin-right: 3px;
  padding: 3px;
  border-radius: 3px;
  text-decoration: none;
  font-size: larger;
  display: flex;
  text-align: right;
  float: right;
}

.page-heading {
  color: var(--font-color);
  text-align: left;
  font-size: 36px;
  padding: 15px;
  margin-bottom: 20px;
}

.page-subheading {
  color: var(--font-color);
  text-align: left;
  font-size: 16px;
  padding: 15px;
  margin-bottom: 50px;
}

.a {
  display: flex;
  justify-content: space-between;
  align-items: left;
  gap: 16px;
  flex-wrap: wrap;
}

.menu li:hover {
  background-color: #4c9e9e;
  border: 5px;
  transition: 0.3s ease;
}
